main {
	@include flexCenter;
	height: 100vh;

	h1 {
		font-size: clamp(2.5rem, 10vw, 8rem);
		font-weight: 400;
		position: relative;
		z-index: 100;
		text-align: center;

		a {
			@include hoverUnderline;
		}
	}

	.images-grid {
		@include fullAbsolute;
		display: grid;
		grid-template-columns: repeat(50, 1fr);
		grid-template-rows: repeat(50, 1fr);

		.image {
			position: relative;
		}

		@media screen and (max-width: #{$screen-large}) {
			grid-template-columns: repeat(40, 1fr);
			grid-template-rows: repeat(40, 1fr);
		}

		@media screen and (max-width: #{$screen-medium}) {
			grid-template-columns: repeat(30, 1fr);
			grid-template-rows: repeat(30, 1fr);
		}

		@media screen and (max-width: #{$screen-small}) {
			grid-template-columns: repeat(24, 1fr);
			grid-template-rows: repeat(30, 1fr);
		}
	}
}
